[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inquirer = "*"
alive-progress = "*"
animation = "*"
httpx = "*"
python-jobspy = "*"
pyfiglet = "*"
rich = "*"

[requires]
python_version = "3.10"

[dev-packages]
